.hero__card-update-img {
  margin: 0 3px 0 8px;
}
.updateBook-close {
  position: fixed !important;
  top: -30px !important;
  left: 0;
  right: 0;
  transform: scale(0);
}

.updateBook-open {
  position: fixed !important;
  top: -30px !important;
  left: 0;
  right: 0;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.updateBook__close-icon {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.update__card-box {
  position: relative;
}
.updateBook__form {
  position: relative;
}
