#header {
  padding: 10px 0;
  background-color: map-get($map: $clr-primary, $key: 200);
}

.header__main-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img-box {
  display: flex;
  align-items: flex-end;
  opacity: 0.8;
  cursor: pointer;
}
.header__img-box:hover {
  opacity: 1;
}
.header__img-box h2 {
  color: map-get($map: $clr-orange, $key: 300);
  font-size: 20px;
  margin-left: 5px;
}
.header__main-box img {
  cursor: pointer;
}
.header__main-box nav ul {
  display: flex;
}
.header__link a {
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
  color: map-get($map: $clr-orange, $key: 300) !important;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.8;
}
.header__link a:hover {
  opacity: 1;
}

//? hero start
#hero {
  padding: 50px 40px;
}
.hero__main-box {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 30px;
}
.hero__card {
  background-color: rgba(0, 0, 0, 0);
  color: map-get($map: $clr-orange, $key: 300) !important;
  border: 1px solid rgba(231, 152, 153, 0.2) !important;
  max-width: 500px !important;
  width: 100% !important;
}
.hero__card-header {
  background-image: map-get($map: $clr-orange, $key: 400) !important;
  max-width: 200px;
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
}
.card-header {
  border: 1px solid rgba(231, 152, 153, 0.2) !important;
}
.hero__card-title {
  color: map-get($map: $clr-orange, $key: 200) !important;
}
.hero__warning-info {
  color: map-get($map: $clr-orange, $key: 300) !important;
  font-size: 30px;
}
